@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-custom {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

/* NEWS 滚动窗口 */
.news-panel {
  max-height: 180px;      /* 窗口高度，你可以自己调，比如 150 / 200 都行 */
  overflow-y: auto;       /* 竖直方向可滚动 */
  padding-right: 4px;     /* 给滚动条留一点空间 */
}

/* 可选：稍微美化一下滚动条（支持 WebKit 内核） */
.news-panel::-webkit-scrollbar {
  width: 6px;
}

.news-panel::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

/* NEWS 列表基础样式 */
.news-list {
  margin: 0;
  padding-left: 1.2rem;
  list-style-type: disc;
}

.news-item {
  margin-bottom: 0.3rem;
}

.news-date {
  font-weight: 600;
  margin-right: 0.4rem;
  white-space: nowrap;
}

.news-text {
  display: inline;
}
